.benefits {
  padding: 80px 0 40px;
  @include media-max(991) {
    padding: 50px 0 20px;
  }
  .title {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    @include media-max(991) {
      margin-bottom: 30px;
    }
  }
  ul {
    margin: 0 -10px;
    text-align: center;
    @include media-max(991) {
      text-align: start;
      margin: 0;
    }
    li {
      margin: 0 10px 40px 10px;
      width: calc(33.3333% - 20px);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        display: block;
        left: 50%;
        top: 4px;
        width: 100%;
        border: 2px dashed #E3E3E3;
        @include media-max(991) {
          width: 0;
          height: calc(100% + 30px);
          left: 40px;
        }
      }
      &:nth-of-type(3n),
      &:last-of-type {
        &::before {
          display: none;
          @include media-max(991) {
            display: block;
          }
        }
      }
      &:last-of-type {
        &::before {
          @include media-max(991) {
            display: none;
          }
        }
      }
      @include media-max(991) {
        width: 100%;
        margin: 0 0 30px 0;
      }
      i {
        flex-shrink: 0;
        position: relative;
        background: #FFD124;
        border-radius: 3px;
        width: 100px;
        height: 100px;
        @include media-max(991) {
          width: 80px;
          height: 80px;
          margin-right: 15px;
        }
        img {
          @include media-max(991) {
            height: 50px;
            width: 50px;
          }
        }
        span {
          font-style: normal;
          background: #000000;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
          border-radius: 3px;
          min-width: 40px;
          height: 40px;
          font-weight: 600;
          font-size: 26px;
          text-align: center;
          line-height: 26px;
          color: #FFD124;
          position: absolute;
          right: -15px;
          top: -15px;
          @include media-max(991) {
            top: -11px;
            right: auto;
            left: -6px;
            min-width: 30px;
            height: 30px;
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
      b {
        display: inline-block;
        margin: 30px 0 10px;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        text-transform: uppercase;
        @include media-max(991) {
          margin: 0 0 10px;
        }
        @include media-max(575) {
          margin: 0 0 5px;
          font-size: 18px;
          line-height: 24px;
        }
      }
      p {
        line-height: 30px;
        @include media-max(575) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}