.call-me {
  position: fixed;
  top: 89%;
  transform: translate(0, -89%);
  right: 85px;
  width: 65px;
  height: 65px;
  @include media-max(1399) {
    right: 35px;
  }
  @include media-max(991) {
    display: none;
  }
  img {
    width: 39px;
    height: 39px;
  }
}