.callback {
  height: fit-content;
  padding: 23px 0 45px;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 3px;
  max-width: 425px;
  width: 100%;
  @include media-max(991) {
    max-width: none;
    padding: 5.33vw 4.33vw 9.33vw;
    border-radius: 0.80vw;
  }
  b {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    @include media-max(991) {
      font-size: 4.80vw;
      line-height: 8vw;
    }
  }
  p {
    &:first-of-type {
      line-height: 30px;
      @include media-max(991) {
        line-height: 6.40vw;
        font-size: 3.73vw;
      }
    }
    &:last-of-type, b {
      font-size: 13px;
      line-height: 24px;
      max-width: 318px;
      width: 100%;
      @include media-max(991) {
        font-size: 3.47vw;
        line-height: 6.40vw;
        max-width: none;
      }
    }
  }
  input {
    max-width: 331px;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    height: 60px;
    margin: 18px 0 15px;
    @include media-max(991) {
      max-width: none;
      height: 13.87vw;
      font-size: 3.73vw;
    }
  }
  button {
    margin-top: 23px;
    padding: 8px 20px;
    text-align: center;
    @include media-max(991) {
      padding: 2.13vw 5.33vw;
      height: 13.87vw;
    }
    img {
      margin-right: 11px;
      width: 44px;
      height: 44px;
      @include media-max(991) {
        width: 9.60vw;
        height: 9.60vw;
      }
    }
  }
  &-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: none;
    .close {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 5px;
      right: 5px;
      border: none;
      margin: 0;
      padding: 0;
      background: none;
      img {
        margin: 0;
        width: 20px;
        height: 20px;
      }
    }
    @include media-max(991) {
      width: 90%;
    }
    input {
      margin: 0 0 15px 0;
      &:first-of-type {
        margin-top: 18px;
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
}