.catalog {
  padding-bottom: 35px;
  @include media-max(575) {
    padding-bottom: 50px;
  }
  .container {
    & > .button {
      padding: 12px 30px;
      margin: 0 auto;
      width: fit-content;
      @include media-max(991) {
        margin-top: 15px;
      }
      @include media-max(575) {
        padding: 9px 12px;
        font-size: 14px;
      }
      img {
        margin-right: 11px;
        margin-bottom: 8px;
        width: 33px;
        height: 33px;
        @include media-max(991) {
          margin-right: 6px;
        }
      }
      span {
        font-weight: 600;
      }
    }
  }
  &-head {
    margin-bottom: 30px;
  }
  .title {
    @include media-max(991) {
      margin-bottom: 4vw;
    }
  }
  &-list {
    margin: 0 -10px;
    @include media-max(991) {
      margin: 0 -2.5px;
    }
    .card {
      width: calc(25% - 20px);
      margin: 0 10px 40px 10px;
      @include media-max(1399) {
        width: calc(33.333% - 20px);
      }
      @include media-max(991) {
        margin: 0 2.5px 15px 2.5px;
        width: calc(50% - 5px);
      }
    }
  }
  &.alt {
    padding: 40px 0 80px;
    background: #F6F6F6;
    margin: 0;
    .services {
      margin-bottom: 40px;
      @include media-max(575) {
        margin-bottom: 30px;
      }
    }
    @include media-max(991) {
      padding: 50px 0;
    }
    .title {
      margin-bottom: 35px;
      display: block;
      text-align: center;
      @include media-max(575) {
        margin-bottom: 20px;
      }
    }
  }
}