.faq {
  padding: 40px 0;
  @include media-max(575) {
    padding: 20px 0;
  }
  .title {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    @include media-max(575) {
      margin-bottom: 20px;
    }
  }
  &__block {
    background: #F6F6F6;
    border-radius: 3px;
    &:not(:last-of-type) {
      margin-bottom: 15px;
      @include media-max(575) {
        margin-bottom: 10px;
      }
    }
  }
  &__question {
    position: relative;
    padding: 15px 60px 15px 15px;
    cursor: pointer;
    @include media-max(575) {
      padding: 10px 60px 10px 10px;
    }
    &::before {
      content: url("../images/dist/icons/arrows/arrow-nav-2.svg");
      position: absolute;
      line-height: 1;
      text-align: center;
      padding: 10px;
      right: 15px;
      background: #FFFFFF;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
      border-radius: 3px;
      background-size: cover;
      display: block;
      width: 40px;
      height: 40px;
      transition: .4s;
      @include media-max(991) {
        width: 30px;
        height: 30px;
        padding: 6px;
      }
    }
    &.active {
      &::before {
        transform: rotate(-180deg);
        background: #FFD124;
      }
    }
    & > span {
      font-weight: 700;
      font-size: 26px;
    }
    h2 {
      font-size: 16px;
      font-weight: 400;
      margin-left: 20px;
      line-height: 24px;
      @include media-max(575) {
        font-size: 14px;
      }
    }
    &-img {
      width: 50px;
      height: 50px;
      @include media-max(575) {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__answer {
    padding: 15px 15px 25px 15px;
    position: relative;
    display: none;
    color: #8B8B8B;
    line-height: 30px;
    @include media-max(575) {
      font-size: 13px;
    }
    @include media-max(575) {
      padding: 10px;
    }
    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 30px);
      height: 1px;
      background: #FFFFFF;
      display: block;
      left: 50%;
      transform: translate(-50%, 0);
      top: 0;
    }
    img {
      margin-right: 20px;
      height: 50px;
      width: 50px;
      @include media-max(575) {
        width: 30px;
        height: 30px;
      }
    }
  }
}