.findings {
  padding: 80px 0;
  @include media-max(575) {
    padding: 50px 0;
  }
  &-wrapper {
    margin: 0 -35px;
    @include media-max(991) {
      margin: 0;
    }
    & > div {
      height: fit-content;
      margin: 0 35px;
      width: calc(50% - 70px);
      @include media-max(991) {
        width: 100%;
        margin: 0;
      }
      &:not(:last-of-type) {
        @include media-max(991) {
          margin: 0 0 35px;
        }
      }
    }
  }
  &-left {
    span {
      font-size: 26px;
      line-height: 44px;
      color: #9E9E9E;
      margin-bottom: 10px;
      @include media-max(991) {
        display: block;
        text-align: center;
      }
      @include media-max(575) {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 30px;
      }
    }
    .title {
      margin-bottom: 10px;
    }
    p {
      line-height: 30px;
      margin-bottom: 30px;
      @include media-max(575) {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  &-right {
    background: #F6F6F6;
    border-radius: 3px;
    padding: 44px 35px;
    @include media-max(991) {
      padding: 0;
      background: none;
    }
    b {
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 30px;
      @include media-max(991) {
        display: block;
        text-align: center;
      }
      @include media-max(575) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 42px;
      }
    }
    ul {
      margin-bottom: 30px;
      li {
        @include media-max(575) {
          font-size: 14px;
        }
        &:not(:last-of-type) {
          margin-bottom: 30px;
          @include media-max(575) {
            margin-bottom: 20px;
          }
        }
        i {
          margin-right: 25px;
          @include media-max(575) {
            margin-right: 15px;
          }
        }
        p {}
      }
    }
    .button {
      width: fit-content;
      padding: 19px 27px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      @include media-max(991) {
        margin: 0 auto;
      }
      @include media-max(575) {
        padding: 13px;
      }
      img {
        margin-right: 10px;
      }
    }
  }

  &-video {
    * {
      width: 100%;
    }
  }
}
