.footer {
  background: #0E131E;
  color: #FFFFFF;
  padding: 26px 0 40px;
  @include media-max(575) {
    padding: 35px 0 30px;
  }
  a {
    color: #FFFFFF;
    display: inline-block;
  }
  &-logo {
    @include media-max(991) {
      margin: 0 auto 28px auto;
    }
    img {
      width: 174px;
      height: 34px;
    }
  }
  &-list {
    width: 80%;
    @include media-max(991) {
      margin: 0 -10px;
      width: 100%;
      @include media-max(575) {
        margin: 0 -5px;
      }
    }
    &__block {
      margin: 0 10px 20px 10px;
      width: calc(25% - 20px);
      @include media-max(1399) {
        width: calc(33.3333% - 20px);
      }
      @include media-max(575) {
        margin: 0 5px 15px 5px;
        width: calc(33.3333% - 10px);
      }
      b {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
        @include media-max(575) {
          font-size: 18px;
        }
      }
      ul {
        li {
          line-height: 36px;
          a {
            line-height: 16px;
            @include media-max(575) {
              font-size: 14px;
            }
          }
        }
      }
      &.contacts {
        @include media-max(991) {
          width: 100%;
        }
        ul {
          @include media-max(991) {
            display: flex;
            justify-content: space-between;
          }
          @include media-max(374) {
            flex-direction: column;
            justify-content: flex-start;
          }
          li {
            span {
              @include media-max(575) {
                font-size: 14px;
              }
            }
            img {
              margin-right: 12px;
              @include media-max(575) {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}