.nav {
  padding: 16px 0 0;
  background: #FFD124;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.03);
  @include media-max(991) {
    display: none;
  }
  nav {
    ul {
      margin: 0 -10px;
      z-index: 2;
      position: relative;
      li {
        cursor: pointer;
        position: relative;
        margin: 0 10px;
        &.drop {
          padding-right: 14px;
          padding-bottom: 16px;
          &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 24%;
            display: block;
            width: 10px;
            height: 5.8px;
            background: url("../images/dist/icons/arrows/arrow-nav-2.svg") no-repeat;
            background-size: cover;
            transition: .3s;
          }
          &:hover {
            ul {
              transform: scale(1);
            }
            &::before {
              transform: rotate(-180deg);
            }
          }
        }
        ul {
          z-index: 2;
          padding: 30px 40px;
          position: absolute;
          background: #FFFFFF;
          min-width: fit-content;
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.03);
          transform: scale(0);
          transition: .3s;
          top: 100%;
          li {
            margin: 0;
            &:not(:last-of-type) {
              margin: 0 0 25px 0;
            }
            &:hover {
              a {
                color: #FFD124;
              }
            }
          }
        }
      }
    }
  }
}