.slider-for{
  border-radius: 3px;
  margin-bottom: 10px;
  @include media-max(575) {
    margin-bottom: 5px;
  }
  img{
    width:100%;
  }
}

.slider-nav{
  margin: 0 -8px;
  @include media-max(991) {
    margin: 0 -4px;
  }
  img{
    width: 100% !important;
    height: 100%;
  }

  .slick-track{
    width: 100% !important;
  }

  .slick-slide{
    position: relative;
    border-radius: 3px;
    width: 102px !important;
    height: 75px;
    padding: 5px;
    cursor: pointer;
    margin: 0 8px 16px;
    @include media-max(991) {
      width: calc(20% - 8px) !important;
      margin: 0 4px 8px;
    }
    @include media-max(575) {
      width: calc(25% - 8px) !important;
    }
    @include media-max(420) {
      height: 65px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slick-current {
    border: 2px solid #FFD124;
  }
}

.slick-prev{
  left: 25px;
  z-index: 10;
}
.slick-next{
  right: 25px;
  z-index: 10;
}