.steps {
  padding: 80px 0;
  @include media-max(575) {
    padding: 50px 0;
  }
  &-block {
    margin-bottom: 30px;
    .title {
      display: block;
      text-align: center;
      margin-bottom: 35px;
    }
    ul {
      margin: 0 -10px;
      @include media-max(991) {
        margin: 0;
      }
      li {
        margin: 0 10px 20px;
        width: calc(33.3333% - 20px);
        @include media-max(991) {
          margin: 0 0 20px;
          width: 100%;
        }
        span {
          position: relative;
          height: fit-content;
          font-weight: 900;
          font-size: 90px;
          line-height: 70px;
          text-align: center;
          color: #FFFFFF;
          writing-mode: vertical-rl;
          text-transform: uppercase;
          -webkit-text-stroke: 1px #000;
          &::before {
            background: #fff;
            background: -webkit-gradient(linear,left top,left bottom,color-stop(33%,#fff),color-stop(65%,#fff),to(#8aa9d6));
            background: -o-linear-gradient(top,#fff 33%,#fff 65%,#8aa9d6);
            background: linear-gradient(180deg, rgba(255,255, 255, .0) 26%, rgba(255, 255, 255, .7) 48%,rgba(255, 255, 255, 1));
            bottom: 0;
            content: "";
            display: block;
            height: 38%;
            left: 0;
            position: absolute;
            width: 100%;
          }
        }
        & > div {
          margin-left: 36px;
          @include media-max(575) {
            margin-left: 25px;
          }
          b {
            margin-bottom: 8px;
            padding: 5px 10px;
            display: inline-block;
            font-weight: 600;
            font-size: 26px;
            line-height: 30px;
            background: #FFD200;
            @include media-max(575) {
              font-size: 18px;
              line-height: 24px;
            }
          }
          p {
            @include media-max(575) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}