.videos {
  padding: 50px 0 80px;
  background: #F6F6F6;
  position: relative;
  @include media-max(575) {
    padding: 50px 0;
  }
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: #FFFFFF;
    @include media-max(991) {
      display: none;
    }
  }
  .title {
    z-index: 1;
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 55px;
    @include media-max(575) {
      margin-bottom: 20px;
    }
  }
  &-list {
    li {
      position: relative;
      height: 220px;
      @include media-max(575) {
        height: 53.33vw;
      }
      img {
        object-fit: cover;
        width: calc(100% - 20px);
        margin: 0 auto;
        height: 100%;
        @include media-max(575) {
          width: 100%;
        }
      }
    }
  }
  .slick-arrow {
    z-index: 1;
  }
  .slick-prev {
    left: 20px;
    @include media-max(575) {
      left: 10px;
    }
  }
  .slick-next {
    right: 20px;
    @include media-max(575) {
      right: 10px;
    }
  }
}





.slick-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background: url("../images/dist/icons/arrows/arrow-slider.svg") no-repeat;
  }
  &:hover,
  &:focus {
    background: #FFD124;
  }
}
.slick-next {
  &::before {
    transform: rotate(-180deg) translate(50%, 50%);
  }
}
.slick-disabled {
  background: rgba(255, 255, 255, 0.9);
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.9);
  }
}