.page-catalog {
  .catalog {
    margin-top: 80px;
    @include media-max(991) {
      margin-top: 50px;
    }
  }
  .consultation {
    padding: 0;
  }
  .faq {
    padding: 80px 0;
    @include media-max(575) {
      padding: 50px 0;
    }
  }
}